@page
@model timeZoneApp.Pages.Regions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Region</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Region.RegionName" class="control-label"></label>
                <input asp-for="Region.RegionName" class="form-control" />
                <span asp-validation-for="Region.RegionName" class="text-danger"></span>
            </div>
            <div class="form-group">


                <label asp-for="Region.offset" class="control-label"></label>

                <input asp-for="Region.offset" class="form-control">
                <!-- <input asp-for="Region.offset" class="form-control" /> -->
                <span asp-validation-for="Region.offset" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Region.offsetType" class="control-label"></label>
                <input asp-for="Region.offsetType" class="form-control" />
                <span asp-validation-for="Region.offsetType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Region.mostRecentDateTime" class="control-label"></label>
                <input asp-for="Region.mostRecentDateTime" class="form-control" />
                <span asp-validation-for="Region.mostRecentDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
